/* Reset some default styles */
body, h1 {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #53c455;
    height: 52px;

}

#title{
    font-size: 32px;
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-style: normal;
    /* background-color: red; */
}

.buttonGrid{
    
}