doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Ingredients
    link(rel="stylesheet", href="./stylesheets/ingredients.css")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap", rel="stylesheet")
    script(src="./javascripts/ingredients.js")
  body
    .header
      a(href="./ingredients.html")
        #title Culinary Canvas


block content
  h1 Ingredient | Units
  ul
    each row in rows
      div.flex-container
        p= row.ingredients
        p= row.unit